body {
  overflow: hidden; }

.web {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../img/bg.jpg) no-repeat left top/cover; }
  .web .buttom {
    width: 765px;
    height: 78px;
    position: fixed;
    bottom: -0.5rem !important;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/bottom.png) no-repeat; }
    .web .buttom .cannon .cannon1 {
      height: 74px;
      width: 74px;
      background: skyblue;
      position: absolute;
      left: 50%;
      background: url(../img/cannon/cannon1.png); }
      .web .buttom .cannon .cannon1 .pao1 {
        width: 25px;
        height: 28px;
        background: url(../img/cannon/bullet.png);
        background-position: -86px 0;
        position: absolute;
        top: -25px;
        left: 33%; }
    .web .buttom .cannon .cannon2 {
      height: 76px;
      width: 74px;
      background: skyblue;
      position: absolute;
      left: 50%;
      background: url(../img/cannon/cannon2.png); }
      .web .buttom .cannon .cannon2 .pao2 {
        width: 25px;
        height: 30px;
        background: url(../img/cannon/bullet.png);
        background-position: -62px 0;
        position: absolute;
        top: -25px;
        left: 33%; }
    .web .buttom .cannon .cannon3 {
      height: 76px;
      width: 74px;
      background: skyblue;
      position: absolute;
      left: 50%;
      background: url(../img/cannon/cannon3.png); }
      .web .buttom .cannon .cannon3 .pao3 {
        width: 28px;
        height: 31px;
        background: url(../img/cannon/bullet.png);
        background-position: -31px -36px;
        position: absolute;
        top: -28px;
        left: 33%; }
    .web .buttom .cannon .cannon4 {
      height: 83px;
      width: 74px;
      background: skyblue;
      position: absolute;
      left: 50%;
      background: url(../img/cannon/cannon4.png); }
      .web .buttom .cannon .cannon4 .pao4 {
        width: 28px;
        height: 35px;
        background: url(../img/cannon/bullet.png);
        background-position: -31px -82px;
        position: absolute;
        top: -28px;
        left: 33%; }
    .web .buttom .cannon .cannon5 {
      height: 85px;
      width: 74px;
      background: skyblue;
      position: absolute;
      left: 50%;
      background: url(../img/cannon/cannon5.png); }
      .web .buttom .cannon .cannon5 .pao5 {
        width: 31px;
        height: 34px;
        background: url(../img/cannon/bullet.png);
        background-position: 0 -82px;
        position: absolute;
        top: -31px;
        left: 33%; }
    .web .buttom .cannon .cannon6 {
      height: 89px;
      width: 74px;
      background: skyblue;
      position: absolute;
      left: 50%;
      background: url(../img/cannon/cannon6.png); }
      .web .buttom .cannon .cannon6 .pao6 {
        width: 31px;
        height: 37px;
        background: url(../img/cannon/bullet.png);
        background-position: 0 -45px;
        position: absolute;
        top: -31px;
        left: 33%; }
    .web .buttom .cannon .cannon7 {
      height: 94px;
      width: 74px;
      background: skyblue;
      position: absolute;
      left: 50%;
      background: url(../img/cannon/cannon7.png); }
      .web .buttom .cannon .cannon7 .pao7 {
        width: 31px;
        height: 45px;
        background: url(../img/cannon/bullet.png);
        background-position: 0 0;
        position: absolute;
        top: -40px;
        left: 30%; }
    .web .buttom .de {
      position: absolute;
      width: 44px;
      height: 31px;
      top: 30px;
      left: 355px;
      background: url(../img/bottom.png);
      background-position: -135px 50px; }
    .web .buttom .add {
      position: absolute;
      width: 44px;
      height: 31px;
      background: skyblue;
      top: 30px;
      left: 450px;
      background: url(../img/bottom.png);
      background-position: -48px 50px; }
    .web .buttom .fengs {
      width: 146px;
      height: 25px;
      position: absolute;
      top: 45px;
      left: 15px;
      font-weight: bold;
      text-align: right;
      letter-spacing: 14px;
      line-height: 25px; }
    .web .buttom .tiao {
      width: 212px;
      height: 18px;
      position: absolute;
      top: 45px;
      left: 546px;
      overflow: hidden; }
      .web .buttom .tiao .jingdu {
        position: absolute;
        background: url(../img/bottom.png);
        background-position: 0 -102px;
        width: 100%;
        height: 100%;
        left: -100%; }
  .web .main {
    width: 100%;
    height: 90%;
    position: relative; }
    .web .main .pos_1 {
      position: absolute;
      left: -200px; }
    .web .main .pos_0 {
      position: absolute;
      right: -200px; }
    .web .main .fish1 {
      width: 55px;
      height: 37px;
      background: url(../img/fish/fish1.png); }
    .web .main .fish2 {
      width: 78px;
      height: 64px;
      background: url(../img/fish/fish2.png); }
    .web .main .fish3 {
      width: 72px;
      height: 56px;
      background: url(../img/fish/fish3.png); }
    .web .main .fish4 {
      width: 77px;
      height: 59px;
      background: url(../img/fish/fish4.png); }
    .web .main .fish5 {
      width: 107px;
      height: 122px;
      background: url(../img/fish/fish5.png); }
    .web .main .fish6 {
      width: 105px;
      height: 79px;
      background: url(../img/fish/fish6.png); }
    .web .main .fish7 {
      width: 92px;
      height: 151px;
      background: url(../img/fish/fish7.png); }
    .web .main .fish8 {
      width: 174px;
      height: 126px;
      background: url(../img/fish/fish8.png); }
    .web .main .fish9 {
      width: 166px;
      height: 183px;
      background: url(../img/fish/fish9.png); }
    .web .main .fish10 {
      width: 178px;
      height: 187px;
      background: url(../img/fish/fish10.png); }
    .web .main .fish11 {
      width: 509px;
      height: 270px;
      background: url(../img/fish/fish11.png); }
    .web .main .fish12 {
      width: 516px;
      height: 273px;
      background: url(../img/fish/fish12.png); }
  .web .wang1 {
    width: 116px;
    height: 118px;
    background: url(../img/web1.png);
    position: absolute; }
  .web .wang2 {
    position: absolute;
    width: 137px;
    height: 142px;
    background: url(../img/web2.png); }
  .web .wang3 {
    width: 156px;
    height: 162px;
    background: url(../img/web3.png); }
  .web .wang4 {
    width: 180px;
    height: 174px;
    background: url(../img/web4.png); }
  .web .wang5 {
    width: 163px;
    height: 155px;
    background: url(../img/web5.png); }
  .web .wang6 {
    width: 191px;
    height: 181px;
    background: url(../img/web6.png); }
  .web .wang7 {
    width: 242px;
    height: 244px;
    background: url(../img/web7.png); }
  .web .yin {
    width: 60px;
    height: 60px;
    background: url(../img/coinAni1.png);
    animation: jinbi 0.3s steps(10) infinite; }
  .web .jin {
    width: 60px;
    height: 60px;
    background: url(../img/coinAni2.png);
    animation: jinbi 0.3s steps(10) infinite; }
  .web .add_gold {
    width: 30px;
    height: 30px;
    color: yellow;
    font-size: 30px;
    font-weight: bold; }

/*# sourceMappingURL=index.css.map */
